@import "tailwindcss";

@theme {
  --color-red: #B82116;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-yellow: #F2B649;
  --color-gray: #F1F1F1;
  --color-background: #EFEFEF;
  --color-icon: #CECECE;
  --color-icon-two: #D9D9D9;
  --color-button: #DCDCDC;
  --color-button-two: #BDBDBD;
}